{% extends "casa/layouts/main.njk" %}

{% from "govuk/components/footer/macro.njk" import govukFooter with context %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/inset-text/macro.njk' import govukInsetText %}

{% set mainClasses %}{{ mainClasses }} govuk-main-wrapper--l{% endset %}

{% block pageTitle %}
    {{ t('session-timeout:title') }}
{% endblock %}

{% block beforeContent %}
    {% include "casa/partials/phase_banner_beta.njk" %}
{% endblock %}

{% block head %}
{%  include "includes/application-styles.njk" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('session-timeout:heading') }}</h1>

  <p class="govuk-body">{{ t('session-timeout:message1', { sessionTimeout : timeout.sessionTimeout }) }}</p>
  <p class="govuk-body">{{ t('session-timeout:message2') }}</p>

  {{ govukInsetText({
    text: t('session-timeout:inset') | safe
  }) }}

  {{ govukButton({
    text: t('session-timeout:buttonText'),
    href: timeout.startPageAfterTimeout
  }) }}
{% endblock %}

{% block footer %}
{{ govukFooter({
  meta: {
    items: [
      {
        href: "https://www.gov.uk/help",
        text: t('app:footerLink.help')
      },
      {
        href: "/accessibility-statement",
        text: t('app:footerLink.accessibility')
      },
      {
        href: cookiePolicyUrl,
        text: t('app:footerLink.cookies')
      },
      {
        href: t('app:footerLink.privacyLink'),
        text: t('app:footerLink.privacy')
      }
    ]
  }
}) }}
{% endblock %}
