{% from "components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set notificationBanner %}
  <p class="govuk-notification-banner__heading">{{ t('coronavirus-notification-banner:notificationBanner.p1') | safe}}</p>
  <p>{{ t('coronavirus-notification-banner:notificationBanner.link') | safe}}.</p>
{% endset %}

{{ govukNotificationBanner({
  html: notificationBanner
}) }}

