{% from "components/button/macro.njk" import govukButton %}
{% from "components/details/macro.njk" import govukDetails %}
{% from "components/inset-text/macro.njk" import govukInsetText %}
{% extends "layouts/custom-journey.njk" %}

{% block casaPageTitle %}
    {{ t('complete-coronavirus:pageTitle') }}
{% endblock %}

{% block content %}

    {% set nonShieldingInset %}
        <p class="govuk-body govuk-!-font-weight-bold">
            {{ t('complete-coronavirus:non-shielding.inset3h4') }}
        </p>
        <p>
            {{ t('complete-coronavirus:non-shielding.inset3body') }}
        </p>
    {% endset %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6 govuk-!-padding-0">
                <h1 class="govuk-panel__large govuk-!-margin-bottom-2 govuk-!-font-size-36">
                    {{ t('complete-coronavirus:header') }}
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-27">
                    {{ t('complete-coronavirus:refReminder') }}
                    <p></p>
                </div>
            </div>

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">{{ t('complete-coronavirus:whatNow.title') }}</h2>
                <p class="govuk-body">
                  {{ t('complete-coronavirus:coronavirus.text1', fourteenDaysLater) | safe }}
                </p>
                <p class="govuk-body">
                  {{ t('complete-coronavirus:coronavirus.text2') | safe }}
                </p>
                <p class="govuk-body">
                  {{ t('complete-coronavirus:coronavirus.text3') | safe }}
                </p>
                <h3 class="govuk-heading-m">
                    {{ t('complete-coronavirus:non-shielding.h3') }}
                </h3>

                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ t('complete-coronavirus:non-shielding.li12') | safe }}</li>
                    <li>{{ t('complete-coronavirus:non-shielding.li13') }}</li>
                    <li>{{ t('complete-coronavirus:non-shielding.li14') }}</li>
                </ul>

                {{ govukInsetText({
                    html: nonShieldingInset
                }) }}

                {% if universalCredit %}
                    <h3 class="govuk-heading-m">
                        {{ t('complete-coronavirus:universalCreditYes.heading') }}
                    </h3>
                    <p class="govuk-body">
                        {{ t('complete-coronavirus:universalCreditYes.text1') | safe }}
                    </p>
                    <p class="govuk-body">
                        {{ t('complete-coronavirus:universalCreditYes.text2') }}
                    </p>
                    <p class="govuk-body">
                      {{ t('complete-coronavirus:coronavirus.text3') | safe }}
                    </p>
                {% endif %}

                <h3 class="govuk-heading-m">
                    {{ t('complete-coronavirus:feedback.feedbackHeading') }}
                </h3>

                <p class="govuk-body">
                    {{ t('complete-coronavirus:feedback.feedbackQuestionLink') | safe }}
                </p>

                <p class="govuk-body">
                    {{ t('complete-coronavirus:feedback.researchQuestion') | safe }}
                </p>

                <p class="govuk-body">
                    {{ govukButton({
                        text: t('app:finish'),
                        href: t('app:finishLink')
                    }) }}
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block bodyEnd %}
    {% include "casa/partials/scripts.njk" %}
{% endblock %}
