{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "components/fieldset/macro.njk" import govukFieldset %}

{% block casaPageTitle %}
    {{ t('conditions:pageTitle') }}
{% endblock %}

{% block journey_form %}
    {% call govukFieldset({
      legend: {
        text: t('conditions:label'),
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

    <p class="govuk-hint">{{ t('conditions:body1') }}</p>
    <p class="govuk-hint">{{ t('conditions:hint1') }}</p>

    <h2 class="govuk-label--s">{{ t('conditions:name.label') }}</h2>
    {{ casaGovukInput({
        name: 'conditionName',
        classes: 'govuk-input--width-20',
        value: formData.conditionName,
        casaErrors: formErrors
    }) }}

    {% set dayError = formErrors['conditionStartDate'][0].inline | matchDay or formErrors['conditionStartDate'][0].errorType | includesDay %}
    {% set monthError = formErrors['conditionStartDate'][0].inline | matchMonth or formErrors['conditionStartDate'][0].errorType | includesMonth %}
    {% set yearError = formErrors['conditionStartDate'][0].inline | matchYear or formErrors['conditionStartDate'][0].errorType | includesYear %}
    {% set dateParams = {
        name: 'conditionStartDate',
        fieldset: {
            legend: {
                text: t('conditions:conditionStartDate.label'),
                classes: 'govuk-visually-hidden'
            }
        },
        hint: {
            html: t('conditions:conditionStartDate.hint')
        },
        casaValue: formData.conditionStartDate,
        casaErrors: formErrors
    } %}

    {% set dateErrorParams = {} %}

    {% if dayError or monthError or yearError %}
        {% set dateErrorParams = {
            items: [
                  { classes: 'govuk-input--width-2' + (' govuk-input--error' if dayError ) },
                  { classes: 'govuk-input--width-2' + (' govuk-input--error' if monthError ) },
                  { classes: 'govuk-input--width-4' + (' govuk-input--error' if yearError ) }
            ]
        } %}
    {% endif %}
    <h2 class="govuk-label--s">{{ t('conditions:conditionStartDate.label') }}</h2>
    <p class="govuk-body">{{ t('conditions:body2')}}</p>
     {{ casaGovukDateInput(mergeObjectsDeep(dateParams, dateErrorParams)) }}
  {% endcall %}
{%  endblock %} %}
