{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('disability-or-health-condition:pageTitle') }}
{% endblock %}

{% block journey_form %}
    {{ casaGovukRadios({
        name: 'disabilityOrHealthCondition',
        fieldset: {
            legend: {
                text: t('disability-or-health-condition:label'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        casaValue: formData.disabilityOrHealthCondition,
        casaErrors: formErrors,
        items: [{
            text: t('disability-or-health-condition:yes'),
            value: 'yes',
            attributes: {
                'data-question': t('disability-or-health-condition:label'),
                'data-answer': t('disability-or-health-condition:yes')
            }
        }, {
            text: t('disability-or-health-condition:no'),
            value: 'no',
            attributes: {
                'data-question': t('disability-or-health-condition:label'),
                'data-answer': t('disability-or-health-condition:no')
            }
        }]
    }) }}
{% endblock %}
