{% extends "layouts/custom-journey.njk" %}

{% from "components/character-count/macro.njk" import govukCharacterCount %}

{% block casaPageTitle %}
    {{ t('employment-expenses-details:pageTitle', employerName) }}
{% endblock %}

{% block journey_form %}

    {{ govukCharacterCount({
        id: 'expenses-details',
        maxlength: 500,
        label: {
            text: t('employment-expenses-details:expensesDetails.label'),
            isPageHeading: true,
            classes: 'govuk-label--l'
        },
        hint: {
            text: t('employment-expenses-details:expensesDetails.hint') | safe
        },
        name: 'expensesDetails',
        value: formData.expensesDetails,
        errorMessage: formErrors
    }) }}

{% endblock %}
