{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('hospital-inpatient:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukRadios({
        name: 'hospitalInpatient',
        casaValue: formData.hospitalInpatient,
        casaErrors: formErrors,
        fieldset: {
            legend: {
                html: '<h1 id="inpatient-question" class="govuk-fieldset__heading">' + t('hospital-inpatient:hospitalInpatient.label') + '</h1>',
                classes: 'govuk-fieldset__legend--l'
            }
        },
        items: [{
            value: 'yes',
            text: t('hospital-inpatient:hospitalInpatient.yes'),
            attributes: {
                'data-question': t('hospital-inpatient:hospitalInpatient.label'),
                'data-answer': t('hospital-inpatient:hospitalInpatient.yes')
            }
        }, {
            value: 'no',
            text: t('hospital-inpatient:hospitalInpatient.no'),
            attributes: {
                'data-question': t('hospital-inpatient:hospitalInpatient.label'),
                'data-answer': t('hospital-inpatient:hospitalInpatient.no')
            }
        }]
    }) }}

{% endblock %}
