{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "components/fieldset/macro.njk" import govukFieldset %}

{% block casaPageTitle %}
    {{ t('language-preference-writing:pageTitle') }}
{% endblock %}

{% block journey_form %}
    {% call govukFieldset({
      legend: {
        text: t('language-preference-writing:langPref.h1'),
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

        <p class="govuk-body">
            {{ t('language-preference-writing:langPref.p1') }}
        </p>

        {{ casaGovukRadios({
            name: 'langPrefWriting',
            hint: {
                html: t('language-preference-writing:langPref.hint')
            },
            casaValue: formData.langPrefWriting,
            casaErrors: formErrors,
            items: [{
                text: t('language-preference-writing:langPref.English'),
                value: 'English',
                attributes: {
                    'data-answer': t('language-preference-writing:langPref.English')
                }
            }, {
                text: t('language-preference-writing:langPref.Welsh'),
                value: 'Welsh',
                attributes: {
                    'data-answer': t('language-preference-writing:langPref.Welsh')
                }
            }]
        }) }}
    {% endcall %}
{% endblock %}
