{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('military-overseas:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukRadios({
        name: 'militaryOverseas',
        fieldset: {
            legend: {
                text: t ('military-overseas:heading'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        hint: {
            html: t('military-overseas:hint')
        },
        casaValue: formData.militaryOverseas,
        casaErrors: formErrors,
        items: [{
            checked : formData.militaryOverseas === 'yes',
            value: 'yes',
            text: t('military-overseas:yes'),
            attributes: {
                'data-question': t('military-overseas:heading'),
                'data-answer': t('military-overseas:yes')
            }
        }, {
            checked : formData.militaryOverseas === 'no',
            value: 'no',
            text: t('military-overseas:no'),
            attributes: {
                'data-question': t('military-overseas:heading'),
                'data-answer': t('military-overseas:no')
            }
        }]
    }) }}

{% endblock %}