{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('national-insurance:pageTitle') }}
{% endblock %}

{% block journey_form %}
    {{ casaGovukRadios({
        name: 'nationalInsurance',
        fieldset: {
            legend: {
                text: t('national-insurance:label'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        hint: {
            text: t('national-insurance:hint') | safe,
            classes: 'govuk-hint-black'
        },
        casaValue: formData.statePensionAge,
        casaErrors: formErrors,
        items: [{
            text: t('national-insurance:yes'),
            value: 'yes',
            attributes: {
                'data-question': t('national-insurance:label'),
                'data-answer': t('national-insurance:yes')
            }
        }, {
            text: t('national-insurance:no'),
            value: 'no',
            attributes: {
                'data-question': t('national-insurance:label'),
                'data-answer': t('national-insurance:no')
            }
        },
        {
            text: t('national-insurance:notSure'),
            value: 'notSure',
            attributes: {
                'data-question': t('national-insurance:label'),
                'data-answer': t('national-insurance:notSure')
            }
        }]
    }) }}
{% endblock %}
