{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}

{% block casaPageTitle %}
    {{ t('pregnant:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukRadios({
        name: 'pregnant',
        casaValue: formData.pregnant,
        casaErrors: formErrors,
        fieldset: {
            legend: {
                html: '<h1 id="pregnant-question" class="govuk-fieldset__heading">' + t('pregnant:pregnant.label') + '</h1>',
                classes: 'govuk-fieldset__legend--l'
            }
        },
        items: [{
            value: 'yes',
            text: t('pregnant:pregnant.yes'),
            attributes: {
                'data-question': t('pregnant:pregnant.label'),
                'data-answer': t('pregnant:pregnant.yes')
            }
        }, {
            value: 'no',
            text: t('pregnant:pregnant.no'),
            attributes: {
                'data-question': t('pregnant:pregnant.label'),
                'data-answer': t('pregnant:pregnant.no')
            }
        }]
    }) }}

{% endblock %}
