{% extends "layouts/custom-journey.njk" %}

{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('statutory-pay:pageTitle') }}
{% endblock %}

{% block journey_form %}

    {{ casaGovukRadios({
        name: 'statutoryPay',
        fieldset: {
            legend: {
                text: t('statutory-pay:statutoryPay.label'),
                isPageHeading: true,
                classes: 'govuk-fieldset__legend--l'
            }
        },
        hint: {
            classes: 'govuk-hint-black',
            text: t('statutory-pay:statutoryPay.hint') | safe
        },
        casaValue: formData.statutoryPay,
        casaErrors: formErrors,
        items: [
            {
            text: t('statutory-pay:statutoryPay.yes'),
            value: 'yes',
            attributes: {
                'data-question': t('statutory-pay:statutoryPay.label'),
                'data-answer': t('statutory-pay:statutoryPay.yes')
            }
            },
            {
            text: t('statutory-pay:statutoryPay.no'),
            value: 'no',
            attributes: {
                'data-question': t('statutory-pay:statutoryPay.label'),
                'data-answer': t('statutory-pay:statutoryPay.no')
            }
            }
        ]
    }) }}
{% endblock %}
