{% extends "layouts/custom-journey.njk" %}

{% from "components/character-count/macro.njk" import govukCharacterCount %}

{% block casaPageTitle %}
    {{ t('voluntary-work-role:pageTitle', organisationName) }}
{% endblock %}

{% block journey_form %}

    {{ govukCharacterCount({
        id: 'voluntary-work-role',
        maxlength: 500,
        label: {
            text: t('voluntary-work-role:role.label', organisationName),
            isPageHeading: true,
            classes: 'govuk-label--l'
        },
        name: 'role',
        value: formData.role,
        errorMessage: formErrors
    }) }}

{% endblock %}
