<h2 class="govuk-heading-m govuk-!-padding-top-6">{{ t('check-your-answers:headingHealth') }}</h2>

{% for condition in conditionGather %}
    {% set conditionDetails %}
        {{ condition.conditionName }}<br>
        {{ condition.conditionStartDate | date(htmlLang) }}<br>
    {% endset %}
    {% if conditionGather.length == 1 %}
        {{ govukSummaryList({
            rows: [{
                key: { text: t('check-your-answers:healthConditions') },
                value: { html: conditionDetails  },
                actions: {
                    items: [{
                        attributes: { 'id': 'conditions-'+loop.index0 },
                        href: 'check-your-answers?edit&page=conditions&index='+loop.index0,
                        text: t('check-your-answers:change'),
                        visuallyHiddenText: t('check-your-answers:visuallyHiddenTextCond', { conditionName : condition.conditionName })
                    }]
                }
            }]
        }) }}
    {% else %}
        {{ govukSummaryList({
            rows: [{
                key: { text: t('check-your-answers:healthConditions') },
                value: { html: conditionDetails  },
                actions: {
                    classes: "govuk-summary-list__actions--no-border-desktop",
                    items: [{
                        attributes: { 'id': 'conditions-'+loop.index0 },
                        href: 'check-your-answers?remove&page=condition&index='+loop.index0,
                        text: t('check-your-answers:remove'),
                        visuallyHiddenText: t('check-your-answers:visuallyHiddenTextCond', { conditionName : condition.conditionName })
                    },
                    {
                        attributes: { 'id': 'conditions-'+loop.index0 },
                        href: 'check-your-answers?edit&page=conditions&index='+loop.index0,
                        text: t('check-your-answers:change'),
                        visuallyHiddenText: t('check-your-answers:visuallyHiddenTextCond', { conditionName : condition.conditionName })
                    }]
                }
            }]
        }) }}
    {% endif %}
{% endfor %}
{% set anotherCondition %}
    {{ t('app:no') }}
{% endset %}
{% if (conditionGather.length !== 0 and conditionGather.length < 12) %}
        {{ govukSummaryList({
            rows: [{
                key: { text: t('check-your-answers:anotherCondition') },
                value: { text: anotherCondition },
                actions: {
                    items: [{
                        attributes: { 'id': 'another-health-condition' },
                        href: "another-health-condition?edit",
                        text: t('check-your-answers:change'),
                        visuallyHiddenText: t('check-your-answers:visuallyHiddenTextOtherConditions')
                    }]
                }
            }]
        }) }}
{% endif %}
