{% if journeyData.postcode.welsh === true %}
    <h2 class="govuk-heading-m govuk-!-padding-top-6">{{ t('check-your-answers:headingLanguage') }}</h2>

    {% set langPrefRows = [] %}

    {% set langPrefWriting = {
        key: { text: t('check-your-answers:langPrefWriting') },
        value: { text: t('language-preference-writing:langPref.' + journeyData['language-preference-writing'].langPrefWriting )},
        actions: {
            items: [{
                attributes: { 'id': 'language-preference-writing' },
                href: "language-preference-writing?edit",
                text: t('check-your-answers:change'),
                visuallyHiddenText: t('check-your-answers:visuallyHiddenTextLangPrefWriting')
            }]
        }
    } %}
    {{ (langPrefRows.push(langPrefWriting), null) }}

    {% set langPrefSpeaking = {
        key: { text: t('check-your-answers:langPrefSpeaking') },
        value: { text: t('language-preference-speaking:langPref.' + journeyData['language-preference-speaking'].langPrefSpeaking )},
        actions: {
            items: [{
                attributes: { 'id': 'language-preference-speaking' },
                href: "language-preference-speaking?edit",
                text: t('check-your-answers:change'),
                visuallyHiddenText: t('check-your-answers:visuallyHiddenTextLangPrefSpeaking')
            }]
        }
    } %}
    {{ (langPrefRows.push(langPrefSpeaking), null) }}

    {{ govukSummaryList({
        rows: langPrefRows
    }) }}
{% endif %}
