{% set healthRows = [] %}
{% if journeyData['medical-centre'].name %}
{% set medical %}
    {% if journeyData['medical-centre'].doctor %}
        {{ journeyData['medical-centre'].doctor }}<br>
    {% endif %}
    {{ journeyData['medical-centre'].name }}<br>
    {{ journeyData['medical-centre'].address.address1 }}<br>
    {% if journeyData['medical-centre'].address.address2 %}
        {{ journeyData['medical-centre'].address.address2 }}<br>
    {% endif %}
    {% if journeyData['medical-centre'].address.address3 %}
        {{ journeyData['medical-centre'].address.address3 }}<br>
    {% endif %}
    {{ journeyData['medical-centre'].address.postcode }}<br>
    {% if journeyData['medical-centre'].phoneNumber %}
        {{ journeyData['medical-centre'].phoneNumber }}<br>
    {% endif %}
{% endset %}
{% set medicalRow = {
    key: { text: t('check-your-answers:doctorsDetails') },
    value: { html: medical },
    actions: {
        items: [{
            attributes: { 'id': 'medical-centre' },
            href: "medical-centre?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextDocDetail')
        }]
    }
} %}
{{ (healthRows.push(medicalRow), null) }}
{% endif %}

{% set liveLessThanTwelveMonthsRow = {
    key: { text: t('check-your-answers:liveLessThanTwelveMonths') },
    value: { text: t('check-your-answers:liveLessThanTwelveMonths-' + journeyData['live-less-than-12-months'].severeCondition) },
    actions: {
        items: [{
            attributes: { 'id': 'live-less-than-12-months' },
            href: "live-less-than-12-months?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextliveLessThanTwelveMonths')
        }]
    }
} %}
{{ (healthRows.push(liveLessThanTwelveMonthsRow), null) }}

{% if journeyData['live-less-than-12-months'].severeCondition === 'yes' %}
{% set ds1500 %}
    {% if journeyData['ds1500-report'].ds1500Report === 'dontKnow' %}
        {{ t('ds1500-report:ds1500Report.dontKnow') | safe }}
    {% else %}
        {{ t('ds1500-report:ds1500Report.' + journeyData['ds1500-report'].ds1500Report) }}
    {% endif %}
{% endset %}
{% set ds1500Row = {
    key: { text: t('check-your-answers:ds1500Sent') },
    value: { text: ds1500 },
    actions: {
        items: [{
            attributes: { 'id': 'ds1500-report' },
            href: "ds1500-report?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextDS1500')
        }]
    }
} %}
{{ (healthRows.push(ds1500Row), null) }}
{% endif %}

{% set inpatientRow = {
    key: { text: t('check-your-answers:inHospital') },
    value: { text: t('hospital-inpatient:hospitalInpatient.' + journeyData['hospital-inpatient'].hospitalInpatient) },
    actions: {
        items: [{
            attributes: { 'id': 'hospital-inpatient' },
            href: "hospital-inpatient?edit",
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextInHosp'),
            text: t('check-your-answers:change')
        }]
    }
} %}
{{ (healthRows.push(inpatientRow), null) }}

{% if journeyData['hospital-inpatient'].hospitalInpatient === 'yes' %}
{% set hospital %}
    {{ journeyData['hospital-details'].hospitalName }}<br>
    {{ journeyData['hospital-details'].hospitalWard }}<br><br>
    {{ t('check-your-answers:admittedOn') }} {{ journeyData['hospital-details'].admissionDate | date(htmlLang) }}
{% endset %}
{% set hospitalRow = {
    key: { text: t('check-your-answers:hospitalDetails') },
    value: { html: hospital },
    actions: {
        items: [{
            attributes: { 'id': 'hospital-details' },
            href: "hospital-details?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextHospDetail')
        }]
    }
} %}
{{ (healthRows.push(hospitalRow), null) }}
{% endif %}

{% set pregnantRow = {
    key: { text: t('check-your-answers:pregnant') },
    value: { text: t('pregnant:pregnant.' + journeyData['pregnant'].pregnant )},
    actions: {
        items: [{
            attributes: { 'id': 'pregnant' },
            href: "pregnant?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextPregnant')
        }]
    }
} %}
{{ (healthRows.push(pregnantRow), null) }}

{% if journeyData['pregnant'].pregnant === 'yes' %}
    {% set pregnantDueDateRow = {
        key: { text: t('check-your-answers:due') },
        value: { text: journeyData['pregnant-due-date'].dueDate | date(htmlLang) },
        actions: {
            items: [{
                attributes: { 'id': 'pregnant' },
                href: "pregnant-due-date?edit",
                text: t('check-your-answers:change'),
                visuallyHiddenText: t('check-your-answers:visuallyHiddenTextPregnantDue')
            }]
        }
    } %}
{{ (healthRows.push(pregnantDueDateRow), null) }}
{% endif %}

{% set doctorDeclarationRow = {
    key: { text: t('check-your-answers:doctorDeclaration') },
    value: { text: t('doctor-declaration:' + journeyData['doctor-declaration'].docShareWithDWP) },
    actions: {
        items: [{
            attributes: { 'id': 'doctor-declaration' },
            href: "doctor-declaration?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextDocConsent')
        }]
    }
} %}
{{ (healthRows.push(doctorDeclarationRow), null) }}

{{ govukSummaryList({
    rows: healthRows
}) }}
