<h2 class="govuk-heading-m govuk-!-padding-top-6">{{ t('check-your-answers:personalHeading') }}</h2>

{% set personalRows = [{
    key: { text: t('check-your-answers:name') },
    value: { text: journeyData.name.firstName + ' ' + journeyData.name.lastName},
    actions: {
        items: [{
            attributes: { 'id': 'name' },
            href: "name?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextName')
        }]
    }
}, {
    key: { text: t('check-your-answers:dob') },
    value: { text: journeyData['date-of-birth'].dateOfBirth | date(htmlLang) },
    actions: {
        items: [{
            attributes: { 'id': 'date-of-birth' },
            href: "date-of-birth?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:visuallyHiddenTextDoB')
        }]
    }
}, {
    key: { text: t('check-your-answers:nino') },
    value: { text: journeyData['national-insurance-number'].nino },
    actions: {
        items: [{
            attributes: { 'id': 'nino' },
            href: "national-insurance-number?edit",
            text: t('check-your-answers:change'),
            visuallyHiddenText: t('check-your-answers:nino')
        }]
    }
}] %}

{{ govukSummaryList({
    rows: personalRows
}) }}
